<nav-bar></nav-bar>

<section class="list-container">
	<div class="search-title"> All VIDEOS </div>
	<div class="inst-vids" ng-repeat="video in allVideos">

		<div class="vid">
			<iframe ng-src="{{video.vimPlayerLink | trustAsResourceUrl}}" width="200" height="120" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
			<div class="vid-info">
				<p><a href="{{video.vimeoLink}}" target="_blank">{{video.lessontitle}}</a> * <a href="https://vimeo.com/devmountainwebdev" target="_blank">DevMountain</a> <!-- <a href="https://vimeo.com" target="_blank">Vimeo</a> --></p>
			</div>

			<div class="vid-details">
				<p>Instructor:  
					<span>{{video.instructor}}</span>
				</p>
			</div>
		
			<div class="ratings">
				RATE IT
				<select ng-options="option for option in optionsList" ng-model="rating" ng-change="rateVideo(video, rating)">
				</select>
			<p>YOU RATED: 
				<span>{{video.currUserRating}}</span>
			</p>
			</div>

		<img class="logo-vids" src="https://devmounta.in/img/logoonly.png">
	</div>

</section>