html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
	font-family: sans-serif;
}

.title {
	background-color: none;
}

.view-container {
	height: 100%;
	width: 100%;
	background-image: url('https://images.unsplash.com/photo-1445620466293-d6316372ab59?crop=entropy&fit=crop&fm=jpg&h=950&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925');
	background-size: cover;
	overflow: auto;
}

.dash-container {
	height: 100%;
	width: 100%;
	background-image: url('https://images.unsplash.com/photo-1445620466293-d6316372ab59?crop=entropy&fit=crop&fm=jpg&h=950&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925');
	background-size: cover;
}

.page-header {
	height: 10vh;
	width: 100%;
	background: #444;
	padding-top: 1.5vh;
	padding-left: 1%;
}

.dev-logo {
	height: 7vh;
	width: 7vh;
}

.landing-content {
	height: 90vh;
	width: 100%; 
	background: #EEEEEE;
	padding-top: 3vh;
}

.login-box {
	height: 475px;
	width: 400px;
	background: white;
	margin: auto;
	position: relative;
	border: solid #444 2px;
}

.login-header {
	background: #f7f7f7;
    width: 100%;
    height: 10vh;
    position: relative;
}

.logo {
	height: 20px;
	width: 20px;
	position: absolute;
	background-image: url("https://devmounta.in/img/logoonly.png");
	background-size: contain;
}

.login-text {
	color: black;
	font-family: sans-serif;
	font-size: 2em;
	text-align: center;
	padding-top: 5vh;
}

.login-input-box {
	padding-left: 100px;
	padding-right: 100px;
	position: relative;
	top: 3vh;
	height: 30px;
	width: 100%;
}

.login-input {
	height: 100%;
	width: 200px;
}

.login-button {
	background: #2AABE2;
	color: white;
	height: 30px;
	width: 200px;
	position: absolute;
	top: 35vh;
	left: 100px;
	right: 100px;
}

.menu-container {
	height: 100vh;
	width: 15%;
	position: relative;
	left: 0;
	float: left;
	opacity: .95;
	font-size: 1.1em;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: .1vh;
}

.navigation li:hover {
    background-color: #222;
}

.navigation-items {
    display: block;
    background-color: rgba(71, 71, 71, .9);
    color: white;
    line-height: 2em;
    text-decoration: none;
    padding: 1vh 3vh;
    padding-bottom: 2vh;
    width: 100%;
    height: 5.7vh;
    position: relative;
}

.blue-box {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #2AABE2;
	height: 65.8vh;
	width: 100%;
}

.display-items {
	display: block;
    background-color: #222;
    color: white;
    line-height: 2em;
    text-decoration: none;
    padding: 1vh 3vh;
    padding-bottom: 1.5vh;
    height: 5.7vh;
    width: 100%;
    position: relative;
    left: 100%;
    /*border: solid gray .15vh;*/
    opacity: .9;
}

.topics-list {
	position: relative;
	top: -36.5vh;
}

.instructor-list {
	position: relative;
	top: -31.2vh;
}

.coh-list {
	position: relative;
	top: -25vh;
}

.inst-vids-list {
	position: relative;
	top: -37vh;
	left: 89%;
}

.list-container {
	height: 100vh;
	width: 85%;
	overflow: auto;
	margin: auto;
	padding-bottom: 3.5vh;
}

.search-title {
	position: relative;
	top: 0vh;
	right: 12%;
	height: 5vh;
	width: 100%;
	text-align: right;
	padding-top: 3vh;
	font-size: 1.8em;
	margin-bottom: 2vh;
	color: white;
}

.inst-vids a:visited {
	color: #2AABE2;
}

.inst-vids a:link {
	color: black;
}

.inst-vids a:hover {
	color: white;
}

.inst-vids {
	display: block;
	background-color: rgba(71, 71, 71, 0.55);
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    width: 63%;
    height: 22.5vh;
	margin: 0 auto;
	margin-top: 3.5vh;
	border: .4vh solid lightgray;
	position: relative;
	left: 7%;
}

.vid {
	position: relative;
	left: 2.5vh;
	top: 2.5vh;
	bottom: 2.5vh;
}

.video-container {
	position: absolute;
	left: 35%;
	height: 100%;
	width: 100%;
	background: lightgray;
}

.vid-info {
	position: absolute;
	left: 34vh;
	bottom: -.1vh;
}

.ratings {
	position: absolute;
	right: 3vh;
	top: 2.5vh;
}

.ratings p {
	color: black;
}

.ratings span {
	color: white;
}

.logo-vids {
	position: absolute;
	height: 7.5vh;
	width: 7.5vh;
	right: 2.2vh;
	bottom: 2.2vh;
}

.vid-details {
	position: absolute;
	top: 2.5vh;
	left: 34vh;
	height: 8vh;
	width: 40%;
	color: white;
	background-color: rgba(71, 71, 71, 0.59);
	border: solid black .4vh;
	padding-left: 2.2vh;
	padding-right: 2.2vh;
	padding-bottom: 4vh;
}

.vid-details span {
	color: black;
}

