html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
	font-family: sans-serif;
}

.page-header {
	height: 10vh;
	width: 100%;
	background: #444;
	padding-top: 1.5vh;
	padding-left: 1%;
}

.devLogo {
	height: 7vh;
	width: 7vh;
}

.landing-content {
	height: 90vh;
	width: 100%; 
	background: #EEEEEE;
	padding-top: 3vh;
}

.login-box {
	height: 475px;
	width: 400px;
	background: white;
	margin: auto;
	position: relative;
	border: solid #444 2px;
}

.login-header {
	background: #f7f7f7;
    width: 100%;
    height: 10vh;
    position: relative;
}

.logo {
	height: 20px;
	width: 20px;
	position: absolute;
	background-image: url("https://devmounta.in/img/logoonly.png");
	background-size: contain;
}

.login-text {
	color: black;
	font-family: sans-serif;
	font-size: 2em;
	text-align: center;
	padding-top: 5vh;
}

.login-input-box {
	padding-left: 100px;
	padding-right: 100px;
	position: relative;
	top: 3vh;
	height: 30px;
	width: 100%;
}

.login-input {
	height: 100%;
	width: 200px;
}

.login-button {
	background: #2AABE2;
	color: white;
	height: 30px;
	width: 200px;
	position: absolute;
	top: 35vh;
	left: 100px;
	right: 100px;
}

.menu-container {
	height: 100vh;
	width: 20%;
	background-color: #2AABE2;
	position: relative;
	left: 0;
	border: solid white .1vh;
	float: left;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: .1vh;
}

.navigation li:hover {
    background-color: #222;
}

.navigation-items {
    display: block;
    background-color: #444;
    color: white;
    line-height: 2em;
    text-decoration: none;
    padding: 10px 30px;
    width: 100%;
    height: 5.5vh;
    position: relative;
    /*border: solid white .1vh;*/
}

.display-items {
	display: block;
    background-color: #222;
    color: white;
    line-height: 2em;
    text-decoration: none;
    padding: 10px 20px;
    height: 5.5vh;
    width: 100%;
    position: relative;
    left: 100%;
    border: solid gray .1vh;
}

.topics-list {
	position: relative;
	top: -29.2vh;
}

.instructor-list {
	position: relative;
	top: -23.7vh;
}

.coh-list {
	position: relative;
	top: -18.2vh;
}

.top-vids {
	position: relative;
	top: -12.7vh;
}

.all-vids {
	position: relative;
	top: -7.2vh;
}

.inst-vids-list {
	position: relative;
	top: -36.4vh;
	left: 89%;
}

.list-container {
	height: 100vh;
	width: 70%;
	background-color: gray;
}

.vids-list-container {
	width: 80%;
	position: relative;
	top: 3vh;
	/*border: solid #444 .5vh;*/
	margin: auto;
}

.inst-vids {
	display: block;
    color: blue;
    line-height: 2em;
    text-decoration: none;
    padding-left: .7vh;
    width: 100%;
    height: 5vh;
    position: relative;
	margin: auto;
	text-align: right;
}

.video-container {
	position: absolute;
	left: 35%;
	height: 100vh;
	width: 50%;
	background: lightgray;
}

.video-format {
	position: absolute;
	left: 10%;
	background-color: lightgray;
	height: 100%;
	width: 80%;
}